/*flex 公共样式*/
.flex{
    display: flex;
}
.flex_j_a{
    justify-content: space-around;
}
.flex_j_b{
	justify-content:space-between;
}
.flex_j_c{
    justify-content: center;
}
.flex_a_c{
    align-items: center;
}
.flex_c{
    display: flex;
    flex-direction: column
}
.flex_wrap{
	flex-wrap: wrap;
}
/*盒子公共样式*/
.w_100{
	width:100%;
}
.h_100{
	height:100%;
}
.wh_100{
	width:100%;
	height:100%;
}
.box_b_b{
	box-sizing:border-box;
}
.container{
	padding:0 .3rem;
	box-sizing:border-box;
	background:#fff;
	font-family:'方正兰亭黑';
}
.margin_top20{
    margin-top: .2rem;
}
.padding_30{
    padding: .3rem;
}
.bg_white{
    background-color: #FFF;
}
.bg_gray{
	background:rgba(243,243,243,1);
}
.border_top{
	border: 1px solid #F3F3F3;
}
/*标签公共样式*/
a{
	color:#000;
}
body{
	font-family:'方正兰亭黑';
}
/*公共title*/
.public_title .title{
    color:rgba(0,0,0,1);
    font-size:.36rem;
    line-height: .4rem;
}
.public_title .title.pa_bottom{
	padding-bottom: .4rem;
}
.public_title .icon_right{
    width: .4rem;
    height: .4rem;
}
.public_title .title_left{
    position: relative;
    padding-left: .22rem;
}
.public_title .title_left::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: .4rem;
    width: 2px;
    background:rgba(0,0,0,1);
    border-radius:2px;
}
/*公共书籍列表*/
.books li{
	margin-top: .4rem;
}
.books .book_img{
	width: 1.9rem;
	height: 2.6rem;
	box-shadow:0px 2px .13rem 0px rgba(0, 0, 0, 0.3);
}
.books .book_img img{
	width: 100%;
	height: 100%;
}
.books .name{
	font-size: .28rem;
	color: #000;
	margin-top: .3rem;
	font-weight: 400;
	margin-bottom: .15rem;
}
.books .author{
	font-size: .24rem;
	color:#8C8C8C;
}
/*搜索框样式*/
#searchText::-webkit-input-placeholder{
	text-indent: -9999px;
	background-image: url(../images/search_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6.9rem .56rem;
}
.search{
	padding: .2rem .3rem;
	background-color: #FFF;
}
.search input{
	background: none;
	border: none;
	outline: none;
	width: 6.9rem;
	height: .56rem;
	background:rgba(243,243,243,1);
	border:1px solid rgba(230, 230, 234, 1);
	border-radius:10px;
	text-indent: .2rem;
}
/*定位样式*/
.pos_r{
	position:relative;
}
.pos_a{
	position:absolute;
}
/*背景图片*/
.img_s_cover{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.img_s_contain{
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
/*body背景颜色*/
/* body{
	background:rgba(243,243,243,1);
} */


/*内容*/
.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: .98rem;
    background:rgba(243,243,243,1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/*首页tab切换*/
.index_tab{
    background-color: #FFF;
    padding: .2rem 0;
}
.index_tab h2{
    font-size: .36rem;
    color: #000;
    padding-bottom: .16rem;
}
.index_tab h2.active{
    color: #3388FF;
    border-bottom:2px solid #3388FF;
    border-radius:2px; 
}
/*导航*/
.footer_nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .98rem;
    background-color: #FFF;
    box-shadow:0px 0px 24px 0px rgba(171,171,171,0.29);
}
.footer_nav div{
    flex: 1;
    height: .98rem;
}
.footer_nav div a{
    color:rgba(121,121,121,1);
}
.footer_nav div a.active{
    color:rgba(51,136,255,1);
}
.footer_nav .add_icon img{
    width: .8rem;
    height: .8rem;
}
.footer_nav .img{
    margin-top: .05rem;
}
.footer_nav .img img{
    width: .43rem;
    height: .43rem;
}
.footer_nav .text{
    font-size: .2rem;
    margin-top: .1rem;
    font-weight:400;
}

/*dynamic_writting.html引用的样式*/
.title_btn{
	margin:.28rem 0;
	width:33.3%;
}
.text_right{
	text-align:right;
}
.title_btn_text{
	font-size:.32rem;
}
.text_area{
	height:9.78rem;
	padding:.38rem .28rem .70rem .28rem;
	background-color:rgba(245,245,245,1);
	border-radius:.1rem;
}
.text_area textarea{
	background-color:rgba(245,245,245,1);
	font-size:.28rem;
	border:none;
	outline:none;
}
.text_area p{
	bottom:.24rem;
	right:.28rem;
	font-size:.28rem;
	color:rgba(177,177,177,1);
}
.writting_icon_box{
	height:.5rem;
	margin-top:.3rem;
}
.writting_icon{
	height:.5rem;
	width:.6rem;
	display:inline-block;
	overflow:hidden;
}
.writting_icon_bg_img1{
	background-image:url(../images/icon/img_upload.png)
}
.writting_icon_bg_img2{
	background-image:url(../images/icon/camera.png)
}
.writting_icon input{
	opacity:0;
}
.writting_icon_m_l{
	margin-left:.38rem;
}

/*dynamic_writting.html引用的样式*/
.img_list{
	margin:.2rem 0 .1rem 0;
	height:.98rem;
	/* overflow-x:auto; */
}
.img_list_item:not(:first-child){
	margin-left:.28rem;
}
.img_list_item{
	display:inline-block;
	width:.98rem;
	height:.98rem;
	border-radius:.04rem;
	background:#666;
}
.del_icon{
	width:.24rem;
	height:.24rem;
	border-radius:50%;
	border:.01rem solid #fff;
	top:-.05rem;
	right:-.1rem;
	background:#666
}

/*reaction_to_article.html引用的样式*/
.add_book{
	margin-top:.26rem;
}
.add_book_text{
	font-size:.28rem;
	color:rgba(177,177,177,1);
}
.add_book_checkbox{
	width:0;
	height:0;
	display:none;
}

.add_book_checkbox +label{
	top:.03rem;
    display: inline-block;
	margin-left:.26rem;
    width:.3rem;
	height:.3rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
	border:.01rem solid rgba(177,177,177,1);
}
.add_book_checkbox:checked +label::before{
    display: block;
    content: "\2713";
    text-align: center;
	color:rgba(177,177,177,1);
}
/*book_review.html引用的样式*/
.star{
	display:inline-block;
	width:.26rem;
	height:.26rem;
	background-image:url(../images/icon/star_no_color.png)
}
.star:not(:first-child){
	margin-left:.08rem;
}
.color_star{
	background-image:url(../images/icon/star_color.png)
}
/*book_content.html引用的样式*/
.header_bg{
	height:2.3rem;
	background:rgba(50,77,84,1);
}
.book_content_bg{
	background:rgba(243,243,243,1);
}
.white_space{
	background:rgba(255,255,255,1);
	height:1.2rem;
}
.book_cover{
	height:2.6rem;
	padding:0 .3rem;
	top:.32rem;
}
.book_cover img{
	width:100%;
	height:100%;
}
.book_cover_left,.book_cover_right{
    display:inline-block;
}
.book_cover_right{
	overflow:hidden;
	margin-left:.18rem;
}
.book_cover_left{
	width:1.9rem;
	background:#666;
}

.book_title{
	margin-top:.22rem;
	font-size:.32rem;
	color:rgba(255,255,255,1);
}
.book_message{
	margin-top:.32rem;
}
.book_message p{
	display:inline-block;
	color:rgba(38,190,165,1);
	font-size:.28rem;
}
.message_ml{
	margin-left:.3rem;
}
.inline_block{
	display:inline-block;
}
.comment{
	margin-top:.32rem;
}
.comment_count{
	font-size:.28rem;
	color:rgba(255,255,255,1);
	margin-left:.26rem;
}
.book_sign{
	height:.42rem;
	bottom:0;
	padding:0 .16rem;
	border:.01rem solid rgba(233,122,73,1);
}
.book_sign p{
	font-size:.28rem;
	line-height:.42rem;
	color:rgba(233,122,73,1);
}
.book_collection{
	width:1.36rem;
	height:.5rem;
	background:rgba(38,190,165,.24);
	border-radius:.25rem;
	margin-left:2.46rem;
	right:.3rem;
	top:.05rem;
}
.collection_content{
	width:.96rem;
	height:100%;
	margin:0 auto;
}
.collection_icon{
	width:.3rem;
	height:.24rem;
	background-image:url(../images/icon/like.png);
}
.collection_text{
	color:rgba(255,255,255,1);
	font-size:.26rem;
}
.footer{
	display:flex;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .98rem;
    background-color: #FFF;
    box-shadow:0px 0px 24px 0px rgba(171,171,171,0.29);
}
.book_content_footer_item{
	background:#3388FF;
	text-align:center;
	width:50%;
	height:100%;
}
.book_content_footer_item:nth-child(2){
	background:#26BEA5;
}
.book_content_footer_item p{
	color:#FFF;
	line-height:.98rem;
	font-size:.36rem;
}
.book_content_nav,.book_content_empty_nav{
	width:100%;
	height:.88rem;
	margin-top:.2rem;
	border-bottom:.01rem solid #F3F3F3;
	background:#FFF;
	padding:0 .3rem;
}
.book_content_empty_nav{
	margin-top:0;
}
.division{
	height:.2rem;
	width:100%;
	background:rgba(243,243,243,1);
}
.content_nav_item{
	width:33%;
	height:100%;
	text-align:center;
}
.content_nav_item p{
	line-height:.86rem;
	font-size:.32rem;
}
.content_nav_item:first-child{
	text-align:left;
}
.selected{
	color:#3388FF;
	border-bottom:.02rem solid #3388FF;
	display:inline-block;
}

.content_nav_item:last-child{
	text-align:right;
}
.content_introduction{
	width:100%;
	background:#FFF;
	padding:0 .3rem .68rem .3rem;
	overflow:hidden;
}
.content_introduction>p{
	font-size:.32rem;
	margin-top:.32rem;
	color:rgba(144,144,144,1);
	line-height:.48rem;
}
.content_introduction>p:first-child{
	font-size:.36rem;
	color:#000;
}
.book_recommend{
	width:100%;
	background:#FFF;
	padding:0 .3rem .68rem .3rem;
	margin-top:.2rem;
	overflow:hidden;
}
.book_recommend>p{
	margin:.32rem 0;
	font-size:.36rem;
	color:#000;
}
.recommend_content_item{
	width:1.9rem;
	height:3.44rem;
}
.recommend_content_item p{
	font-size:.28rem;
}
.recommend_content_item div{
	background:#666;
	width:100%;
	height:2.78rem;
}
.recommend_content_item > div > img{
	width:100%;
	height:100%;
}


/*book_comment_empty.html引用的样式*/
.empty_content{
	padding:0 .3rem .68rem .3rem;
	background:#FFF;
	overflow:hidden;
	text-align:center;
}
.empty_content_text{
	margin-top:.45rem;
	text-align:right
}
.empty_content_text>p>a{
	color:#3388FF;
	font-size:.32rem;
}
.empty_content_img{
	width:1.84rem;
	height:1.98rem;
	margin:.75rem auto .3rem auto;
}
.empty_content_img>img{
	width:100%;
	height:100%;
}
.first_comment{
	font-size:.24rem;
	color:#B1B1B1;
	margin-left:.1rem;
}


/*book_comment.html引用的样式*/
.comment_content_list{
	text-align:left;
}
.comment_content_item{
	padding:.46rem 0 .16rem 0;
}
.content_item_top{
	width:100%;
	height:.8rem;
}
.content_item_top>div{
	height:100%;
}
.avatar{
	width:.8rem;
	border-radius:50%;
	background-image:url(../images/avatar.jpg);

}
.comment_message{
	margin-left:.28rem;
	padding-top:.03rem;
}
.comment_time{
	font-size:.26rem;
	color:#A1A1A1;
}
.comment_time>span{
	margin-left:.1rem;
}
.comment_content_text{
	margin-top:.3rem;
	line-height:.4rem;
}
.content_item_bottom{
	margin-top:.54rem;
}
.read_count{
	font-size:.28rem;
	color:#A1A1A1;
}
.operation_icon{
	width:26%;
}
.book_comment_icon{
	width:.8rem;
}
.comment_icon,.fabulous_icon{
	width:.36rem;
	height:.36rem;
}
.comment_icon > img,.fabulous_icon > img{
	width:100%;
	height:100%;
}
.book_comment_icon > div{
	width:.36rem;
}
.book_comment_icon > div > p{
	font-size:.32rem;
	color:#595959
}


/*book_want_write.html引用样式*/
.want_write_item{
	width:100%;
	height:.88rem;
}
.want_write_item_img{
	width:.76rem;
	height:100%;
	box-sizing:border-box;
	padding-right:.38rem;
}
.want_write_item_img > div{
	width:.4rem;
	height:.4rem;
	margin-top:.24rem;
}
.want_write_item_img > div > img{
	width:100%;
	height:100%;
}
.want_write_item_title{
	width:90%;
	height:100%;
	border-bottom:1px solid #D2D2D2;
}
.arrow{
	width:.28rem;
	height:.28rem;
	display:flex;
}
.want_write_item_title{
	line-height:.88rem;
	font-size:.32rem;
}
.arrow > img{
	width:100%;
	height:100%;
}

/*read_page.html引用样式*/
.read_page{
	width:100%;
}
.circle_outside{
	width:3.4rem;
	height:3.4rem;
	margin:.82rem auto 0 auto;
	background:#E8F1FF;
	border-radius:50%;
	padding-top:.42rem;
}
.circle_middle{
	width:2.56rem;
	height:2.56rem;
	margin:0 auto;
	background:#BAD6FF;
	border-radius:50%;
	padding-top:.28rem;
}
.circle_inside{
	width:2rem;
	height:2rem;
	margin:0 auto;
	background:#6FABFF;
	border-radius:50%;
}
.circle_inside > img{
	width:100%;
	height:100%;
}
.read_page_time{
	text-align:center;
	width:100%;
	margin-top:.48rem;
}
.circle_time{
	font-size:.32rem;
	color:#3E3E3E;
}
.read_btn{
	width:2.94rem;
	height:.88rem;
	margin:1.18rem auto;
}
.read_btn > div{
	width:.88rem;
	height:.88rem;
	border-radius:50%;
}

/*read_finish.html引用代码*/
.public_btn{
	width:6.9rem;
	height:.88rem;
	margin:.44rem auto;
	
}
.public_btn > button{
	width:100%;
	height:100%;
	background:#3388FF;
	border:none;
	outline:none;
	border-radius:.44rem;
	color:#FFF;
	font-size:.4rem;
}
.add_book_box{
	margin-left:.5rem;
}

/*we_chat_bind.html引用样式*/
.we_chat_bind{
	padding:0 .3rem;
	top:-1.4rem;
	z-index:99;
}
.bind_bg_img{
	width:100%;
}
.bind_bg_img > img{
	width:100%;
	height:100%;
}
.bind_input_box{
	width:100%;
	height:8.16rem;
	background:#fff;
	border-radius:.2rem;
	padding:.58rem .3rem .46rem .3rem;
	box-shadow:.0 .03rem .07rem #ddd;
}
.input_list{
	height:5.6rem;
	width:100%;
}
.input_item{
	height:.88rem;
	width:100%;
}
.input_item_inp{
	width:100%;
	height:100%;
	border-radius:.1rem;
	background:#ECECEC;
	border:none;
	outline:none;
	padding-left:.46rem;
	box-sizing:border-box;
}
.input_item_inp::-webkit-input-placeholder{
        color: #B7B7B7;
		font-family:'微软雅黑'
}
.bind_btn{
	width:100%;
	height:1rem;
	margin-top:.52rem;
}
.bind_btn > button{
	background:#3388FF;
	border-radius:.5rem;
	width:100%;
	height:100%;
	color:#FFF;
	font-size:.4rem;
	border:none;
	outline:none;
}
.verification_code{
	right:.44rem;
	color:#3388FF;
	top:.28rem;
	font-size:.32rem;
}


/*每日推荐/必读书籍列表*/
.recommend.border_padding_bottom{
	padding: .45rem 0;
	border-bottom: 1px solid #D2D2D2;
}
.recommend:first-child{
	padding-top: 0;
}
.recommend:last-child{
	border: none;
	padding-bottom: 0;
}
.recommend .recommend_img{
    min-width: 1.52rem;
    width:1.52rem;
    height:2.21rem;
    margin-right: .24rem;
}
.recommend .recommend_img.img_190{
	min-width: 1.9rem;;
	width: 1.9rem;
	height: 2.6rem;
}
.recommend .recommend_img img{
    width: 100%;
    height: 100%;
}
.recommend .message .name{
    font-size: .28rem;
    color:rgba(0,0,0,1);
    font-weight:400;    
    line-height: 100%;
}
.recommend .message .name.name_32{
	font-size: .32rem;
}
.recommend .message .details{
    font-size: .28rem;
    color: #6D6D6D;
    line-height: .4rem;
    font-weight:400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.recommend .message .details.set{
	color: #7E7E7E;
	-webkit-line-clamp: 2;
}
.recommend .message .writer{
	color: #7E7E7E;
}
.recommend .message .star_list span{
    color: #6D6D6D;
    font-size: .28rem;
    font-weight:400;
}
.recommend .message .star_list .grade{
	color: #E97A49;
	padding: .05rem .1rem;
	border: 1px solid #E97A49;
}
